<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription Form</title>
</head>
<body>
<h1>I would like to subscribe to</h1>
<table border="1" style="color: black">
  <thead>
  <tr>
    <th>Publication</th>
    <th>Term</th>
    <th>Price</th>
    <th>Start Date</th>
    <th>Remark</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
  </tr>
  <tr>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
  </tr>
  <tr>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
    <td><br/></td>
  </tr>
  </tbody>
</table>
<form id="signup" name="signup" method="post" action="index.html">
  <br/>
  <input type="radio" id="Mr" name="status" /> Mr
  <input type="radio" id="Mrs" name="status" /> Mrs
  <input type="radio" id="Miss" name="status" /> Miss
  <br/><br/>
  <label for="first-name">First name:</label>
  <input name="first-name" id="first-name" type="text" minlength="3" maxlength="25"/>
  <label for="last-name">Last name:</label>
  <input name="last-name" id="last-name" type="text" />
  <br/><br/>
  <h3>Deliver address</h3>
  <label for="company-name">Company name:</label>
  <input name="company-name" id="company-name" type="text" />
  <br/><br/>
  <label for="house-no">House no:</label>
  <input type="number" id="house-no" name="house-no" min="0"/>
  <label for="building">Building:</label>
  <input type="text" id="building" name="building" />
  <label for="floor">Floor:</label>
  <input type="number" id="floor" name="floor" />
  <br/><br/>
  <label for="room">Room:</label>
  <input type="number" id="room" name="room" />
  <label for="village">Village:</label>
  <input type="text" id="village" name="village" />
  <label for="sol">Sol:</label>
  <input type="number" id="sol" name="sol" />
  <br/><br/>
  <label for="street">Street:</label>
  <input type="text" id="street" name="street" />
  <label for="sub-district">Sub-district:</label>
  <input type="text" id="sub-district" name="sub-district" />
  <br/><br/>
  <label for="district">District:</label>
  <input type="text" id="district" name="district" />
  <label for="city">City:</label>
  <input type="text" id="city" name="city" />
  <br/><br/>
  <label for="zip-code">Zip code:</label>
  <input type="number" id="zip-code" name="zip-code" />
  <label for="tel">Tel:</label>
  <input type="number" id="tel" name="tel" />
  <label for="mobile-phone">Mobile phone:</label>
  <input type="number" id="mobile-phone" name="mobile-phone" />
  <br/><br/>
  <label for="fax">Fax:</label>
  <input type="number" id="fax" name="fax" />
  <label for="email">Email:</label>
  <input name="email" id="email" type="email" />
  <h3>Billing address: (If different from above)</h3>
</form>
</body>
</html>