<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How Dogs help us in everyday life?</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/style-practice.css">
</head>
<body>
<h1>How Dogs help us in everyday life?</h1>
<p><i>Pets, especially dogs can reduce <b>stress </b>, <b>anxiety</b>, and <b>depression</b>, <b>ease loneliness</b>, <b>encourage exercise</b> and <b>playfulness</b>, and even <b>improve</b> your <b>cardiovascular health</b>.
  Caring for an animal can help children grow up more secure and active. Pets also provide valuable companionship for older adults.</i></p>
<h2><b>Dogs are also used as a therapy for people.</b></h2>
<p><i>A <b>therapy dog</b> is a dog that is trained to provide affection, comfort and support to people, often in settings such as hospitals,
  retirement homes, nursing homes, schools, libraries, hospices, or disaster areas.
  In contrast to assistance dogs, which are trained to assist specific patients with their day-to-day physical needs,
  therapy dogs are trained to interact with all kinds of people, not just their handlers.</i></p>
</body>
</html>
