[name=password]:hover {
    background-color: greenyellow;
    margin-left: 60px;
}
#register:first-child {
    text-align: right;
}
#signup:nth-child(2) {
    background-color: aquamarine;
}
a:link {
    color: darkred;
    font-size: smaller;
}
a:visited {
    color: green;
    font-family: "Apple Chancery";
}

/*always use media tag in a separate file*/
/*For mobile phone screen size*/
@media screen and (max-width: 480px) {
    [name=password]:hover {
        background-color: greenyellow;
        margin-bottom: 60px;
    }
}
/*For tablets screen size*/
@media screen and (max-width: 900px) and (min-width: 600px){
    [name=password]:hover {
        background-color: yellow;
        margin-top: 60px;
    }
}