h1 {
    color: dodgerblue;
    margin-left: 30%
}
body {
    background-color: lightcyan;
    margin-left: 5%;

}
h2 {
    color: royalblue;
    margin-left: 30%
}
p {
    border-color: blue;
    border-style: double;
}
h1, h2, body {
    font-family: "Apple Chancery";
}