/*Tag selector*/
h1 {
    color: deepskyblue;
    transform: rotateY(34deg);
}
/*Id selector*/
#Course-list {
    margin: 0% 5% 0% 75%;
    opacity: revert;
}

/*Define class*/
.hide-me {
    display: none;
}

.bold-orange {
    color: blue;
    font-weight: bold;
}

.underline-me {
    text-decoration: underline;
}
/*Descendent selector*/
#greeting p {
    margin-left: 30px;
}

ul li {
    text-decoration: line-through;
    font-family: "Brush Script MT";
}
/*Child selector*/
#greeting p {
    border: 4px dashed lightslategray;
    padding-left: 50px;
}
/*Next element selector*/
h3+ol {
    text-decoration-line: underline;
}
/*Combined selector*/
p, h1, section {
    background-color: lightcyan;
}
/*Attribute selector*/
[name = email] {
    background-color: lightblue;
}
/*Position*/
#hot-news {
    position: absolute;
    box-shadow: black;
}


